.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slider-container {
  max-width: 600px;
  height: 400px;
  position: relative;
  margin: 100px auto;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slider-btn {
  background: #f1f1f1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider-btn i {
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  /* transform: translateY(-60%); */
}
.next {
  top: 50%;
  right: 20px;
  /* transform: translateY(-60%); */
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-anim {
  opacity: 1;
}

.dot-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}

.dot.active {
  background: rgb(32, 32, 32);
}
