/* 제목 */
.my {
  text-align: center;
  background-color: #FFCBCB;
  color: white;
  text-shadow: 4px 4px 4px black;
  padding: 30px;
  font-size: 150%;
  font-weight: bold;
  
}
/* .b1{
  background-color: #E7FBBE;

}
.b2{
  background-color: #E7FBBE;
}
.b3{
  background-color: #E7FBBE;

} */


 

.btnup{
  float: right;
  text-align: center;
  size: xx-large;
  padding: 10px;
  background-color: blueviolet;
  font-weight: bolder;
  color: white;
}
.img{
  float: left;
}
.review{
  text-align: center;
  background-color: #FFCBCB;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 30px;
}

/* Search.js */
.d-flex{
  padding: 20px;
  border: 1px solid #444444;
  width: 100%;
  min-width: 500px;
  width: 600;
}

.my1 {
  text-align: left;
  background-color:#FFCBCB;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 20px;
  padding-left: 30px;
  font-weight: bolder;
}

.fi {
  font-family: sans-serif;
  text-align: center;
  height: 40px;
  width: 60px;
  background: white;
  float: left;
}

.up {
  text-align: left;
}

.btn-container {
  text-align: right;
}

.src {
  text-decoration: none;
}

.bar {
  padding: 40px;
}
.b1 {
  border: 1px solid black;
  float: left;
  width: 33%;
  height: 1000px;
  margin: auto;
  background-color:#E7FBBE;
}
.b2 {
  border: 1px solid black;
  float: left;
  width: 33%;
  height: 1000px;
  margin: auto;
  text-align: center;
  padding: 5px;
  background-color:#E7FBBE;
}
.b3 {
  border: 1px solid black;
  float: left;
  width: 33%;
  height: 1000px;
  margin: auto;
  background-color:#E7FBBE;
}
.I1 {
  margin: auto;
  display: block;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border.rounded.img-preview {
  width: 300px;
  height: 300px;
}
.leftF {
  float: left;
  padding: 30px;
}
.app {
  text-align: center;
  background-color: coral;
  padding: 15px;
  margin-bottom: 5px;
}

.name{
  color: white;
  text-align: center;
}
.menubar{
  margin:auto;
}
.gridImg{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10px;

}
.inline{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1%;

}

.dateformats{
  text-align: left;
}

