body {
  background-color: #20232a;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
  margin: 0 auto;
  width: fit-content;
}

h1 {
  text-align: center;
  color: #61dafb;
}

.feed ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%),
    0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
}

.post {
  margin: 1rem 0;
}

button {
  border: 0;
  background: transparent;
  outline: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}
